{% extends "base.html" %}

{% block content %}
<a class="house" href="/"><i class="fas fa-house fa-xl"></i></a>
<div class="masthead-register d-flex align-items-center">
    
    <div class="container text-center">
        {% with messages = get_flashed_messages(category_filter=['register']) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-info">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap">
                    <h3 class="text-center">Register</h3>
                    <form action="/register" method="post">
                        <input type="first_name" class="form-control mb-3" name="first_name" placeholder="First Name" id="login-form">
                        <input type="last_name" class="form-control mb-3" name="last_name" placeholder="Last Name" id="login-form">
                        <input type="email" class="form-control mb-3" name="email" placeholder="Email" id="login-form">
                        <input type="password" class="form-control mb-3" name="password" placeholder="Password" id="login-form">
                        <input type="password" class="form-control mb-3" name="conf_password" placeholder="Confirm Password" id="login-form">
                        <input type="submit" class="btn btn-primary mt-3 px-3 justify-content-end" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}